@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    background: #F9F9F9;
    overflow-x: hidden;
}

img,
video {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul, li, ol {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

.container  {
    padding: 30px 0;
}

.rounded-25 {
    border-radius: 25px;
}

.p-2 {
    padding: .7rem !important;
}

.font-18 {
    font-size: 18px;
    font-weight: 400;
}

.font-24 {
    font-size: 24px;
    font-weight: 500;
}

.font-56 {
    font-size: 56px;
    font-weight: 700;
}

.text-grey {
    color: #909090;
}

.text-blue {
    color: #32357C;
}

.btn-small {
    padding: 14px 17px;
    border-radius: 5px;
}

.btn-1030 {
    padding: 10px 30px;
}

.btn-mdl {
    padding: 14px 30px;
    border-radius: 5px;
}

.btn-big {
    width: 312px;
    font-size: 24px;
}

.btn-default {
    border: 2px solid #32357C;
    color: #32357C;
    font-size: 16px;
    font-weight: 600;
}

.btn-default:hover {
    background: #32357C;
    color: #FFF !important;
}

.btn-blue {
    background: #00C3E7 !important;
    border: 2px solid #00C3E7 !important;
    color: #FFF !important;
}

.btn-blue:hover {
    background: #FFF !important;
    color: #00C3E7 !important;
    border-color: #00C3E7 !important;
}

.btn-white {
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #FFF !important;
    color: #FFF !important;
}

.shadow-dflt {
    box-shadow: 0px 6px 8px 0px #0000001A;
}

.services a:hover .btn-white,
.btn-white:hover {
    background: #FFF !important;
    color: #000 !important;
}

header {
    position: fixed;
    background: #F9F9F9;
    border-radius: 10px;
    max-width: 1320px;
    width: 100%;
    padding: 18px;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 25px;
    z-index: 9;
}

.top__head{
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
}

.top__head a {
    color: #878AC3;
    font-size: 16px;
    font-weight: 400;
}

.top__head a:hover {
    color: #32357C;
}

.bottom__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom__head .right_block {
    display: flex;
    align-items: center;
    gap: 40px;
}

.bottom__head .left_block {
    display: flex;
    gap: 10px;
}

.head-menu a {
    color: #32357C;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10.5px;
}

.head-menu ul {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 0;
}

.head-menu li {
    transition: 0.2s;
    padding: 14px 17px;
}

.head-menu li:hover {
    background: #FFFFFF;
    border-radius: 5px;
}

.head-menu a>span {
    font-size: 24px;
    font-weight: 400;
    height: fit-content;
    display: block;
}


.top_big_banner {
    height: 769px;
    background-image: url(/assets/img/129e939042b6e0c62f4f2f85f5786f58.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top_big_banner h1 {
    color: #FFF;
    font-size: 56px;
    font-weight: 600;
    max-width: 1013px;
    text-align: center;
}

.top_big_banner form {
    box-shadow: 0px 8px 6px 0px #0000001A;
    backdrop-filter: blur(12px);
    background-color: #F9F9F9F2;
    border-radius: 15px;
    padding: 18px;
}

.top_big_banner form .item {
    width: 277px;
}

.replace__inputs {
    width: fit-content;
}

.top_big_banner form input {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 14px 17px;
}

.top_big_banner form .item label {
    color: #555555;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.replace__inputs {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
}

.replace__inputs .svg {
    height: 28px;
    width: 28px;
    background: #32357C;
    padding: 5px;
    border-radius: 5px;
    box-sizing: content-box;
    cursor: pointer;
}

.services .col-4 {
    height: 500px;
}

.services .img {
    height: 100%;
    border-radius: 15px;
}

.services .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.services .items h3 {
    font-size: 36px;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 15px;
}

.services .items p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 18px;
    color: #FFF;
}

.services .full_item {
    height: 232px;
    margin-top: 24px;
}

.services .full_item .items {
    display: flex;
    align-items: flex-start;
    left: 25%;
    max-width: 900px;
}

.services .full_item .items p {
    text-align: left;
}

.services_url {
    margin-top: 28px;
}

.btn__all_services>span {
    width: 424px;
    display: block;
    padding: 20px;
    background: #32357C;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn__all_services:before {
    content: '';
    background-image: url('/assets/svg/btn_all_services.svg');
    height: 70px;
    position: absolute;
    width: 933px;
    background-repeat: no-repeat;
    background-position: center left;
}

.add-services .swiper-slide {
    background: #FFF;
    border-radius: 15px;
    padding: 40px 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 63px;
}

.add-services .col-2 {
    display: flex;
    align-items: center;
}

.add-services .col-2 h3 {
    color: #32357C;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 0;
}

.add-services h4 {
    color: #32357C;
    font-size: 32px;
    font-weight: 500;
}

.add-services p {
    font-size: 16px;
    font-weight: 400;
    color: #909090;
    padding: 0 26px;
    text-align: center;
}

.popular_directions h3 {
    color: #32357C;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 45px;
    text-transform: uppercase;
}

.popular_directions__maps img:nth-child(1) {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
}

.popular_directions__maps img:nth-child(2) {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.2s;
}

.popular_directions__maps:hover img:nth-child(1) {
    opacity: 0;
    z-index: 1;
}

.popular_directions__maps:hover img:nth-child(2) {
    z-index: 3;
    opacity: 1;
}

.popular_directions__maps {
    height: 868px;
}

.about h3 {
    color: #32357C;
    font-size: 56px;
    font-weight: 700;
}

.subtitle {
    color: #555555;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.container.about {
    padding-bottom: 90px;
}

.about h4 {
    color: #32357C;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.about p {
    color: #555555;
    font-size: 20px;
    font-weight: 400;
}

.about h5 {
    color: #32357C;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0;
}

.about li:before {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    background: #32357C;
    border-radius: 100%;
}

.about li {
    padding-left: 20px;
    font-size: 22px;
    font-weight: 400;
    color: #555555;
}

.facts h3 {
    color: #32357C;
    font-size: 56px;
    font-weight: 700;
}

.facts .numbers .item .num {
    color: #32357C;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 10px;
}

.facts .numbers .item .top_block p:nth-child(2) {
    color: #32357C;
    font-size: 20px;
    font-weight: 600;
}

.facts .numbers .item .back_block .top_block p:nth-child(2) {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.facts .numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.facts .numbers .item>p {
    font-size: 18px;
    font-weight: 400;
    color: #909090;
}

.facts .numbers .item {
    width: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    height: 230px;
}

.facts .numbers .item:hover {
    transform: rotateY(180deg);
}

.facts .numbers .item .front_block,
.facts .numbers .item .back_block {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.facts .numbers .item .back_block {
    background: #32357C;
    transform: rotateY(180deg);
    border-radius: 25px;
}

.facts .numbers .item .back_block p {
    color: #FFF;
}

.facts .numbers .item:nth-child(1) {
    max-width: 448px;
}

.facts .numbers .item:nth-child(2) {
    max-width: 225px;
}

.facts .numbers .item:nth-child(3) {
    max-width: 339px;
    width: 100%;
}

.facts .numbers .item:nth-child(4) {
    max-width: 204px;
}

.facts .numbers .item:nth-child(5) {
    max-width: 249px;
}

.facts .numbers .item:nth-child(6) {
    max-width: 455px;
}

.facts .numbers .item:nth-child(7) {
    max-width: 204px;
}

.facts .numbers .item:nth-child(8) {
    max-width: 201px;
}

.stock h3 {
    color: #32357C;
    font-size: 64px;
    font-weight: 700;
}

.stock .swiper-slide .svg {
    position: absolute;
    z-index: 3;
    left: 10px;
    top: 10px;
}

.stock .swiper-slide img {
    width: 100%;
}

.stock .swiper-slide {
    overflow: hidden;
}

.stock p {
    padding: 15px 25px 34px;
    margin-bottom: 0;
    color: #32357C;
    font-size: 24px;
    font-weight: 600;
}

.stock .next_slider {
    position: absolute;
    right: 0;
    top: 50%;
}

.stock .prev_slider {
    position: absolute;
    left: 0px;
    top: 50%;
}

.next_slider.swiper-button-disabled,
.prev_slider.swiper-button-disabled {
    opacity: .6;
}

.why_us .col-6 {
    padding-top: calc(var(--bs-gutter-x)* .5);
    padding-bottom: calc(var(--bs-gutter-x)* .5);
}

.why_us .item {
    height: 100%;
}

.why_us .item .d-flex {
    gap: 20px;
}

.section_btn_callback .btn {
    padding: 23.5px 0;
    width: 420px;
    background: #32357C;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    z-index: 1;
}

.section_btn_callback {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_btn_callback:before {
    content: '';
    background: url('/assets/svg/background-slash.svg');
    position: absolute;
    left: 0;
    width: 665px;
    height: 85px;
    background-repeat: no-repeat;
    background-position: center;
}

.section_btn_callback:after {
    content: '';
    background: url(/assets/svg/background-slash.svg);
    position: absolute;
    right: 0;
    width: 665px;
    height: 85px;
    background-repeat: no-repeat;
    background-position: center;
}

.reviews h3 {
    color: #32357C;
    font-size: 56px;
    font-weight: 700;
}

.reviews .name {
    color: #32357C;
    font-size: 32px;
    font-weight: 600;
}

.reviews .text {
    color: #909090;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 45px;
}

.reviews .info_reviews_user {
    color: #555555;
    font-size: 18px;
    font-weight: 500;
}

.reviews .swiper {
    overflow: initial;
}

.form_home h3 {
    color: #32357C;
    font-size: 56px;
    font-weight: 500;
}

.form_home .subtitle {
    font-size: 20px;
}

.form_home input,
.form_home textarea {
    width: 100%;
    padding: 12px;
    border: 0;
    background: #F9F9F9;
    border-radius: 5px;
}

.form_home input.btn-blue {
    background: #00C3E7;
    border: 2px solid #00C3E7;
}

.form_home input.btn-blue:hover {
    background: #FFF;
    color: #00C3E7;
    border-color: #00C3E7;
}

.form_home .col-6 {
    padding: calc(var(--bs-gutter-x)* .5);
}

.form_home textarea {
    height: 122px;
}

.form_home__img {
    position: absolute;
    top: 50%;
    transform: translate(35px, -50%);
}

.form_home {
    overflow: hidden;
}

.form_home .text-secondary {
    font-size: 12px;
    font-weight: 400;
}

.form_home .text-secondary a {
    text-decoration: underline;
    color: #909090;
}

.cases .item {
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    gap: 18px;
    padding: 38px 65px;
    text-align: center;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.cases .item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.1%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;
    border-radius: 15px;
}

.cases .item h4 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 500;
    z-index: 2;
}

.cases .item p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    z-index: 2;
}

.cases .item .btn {
    z-index: 2;
}

.cases .col-4 {
    padding: calc(var(--bs-gutter-x)* .5);
}

.trust img {
    max-height: 95px;
    object-fit: cover;
    padding: 15px;
}

.trust h3 {
    color: #32357C;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

.trust .row {
    margin: 0 -120px;
}

.news .item {
    height: 366px;
}

.news .item .name {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.news .item .date {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.news .item span {
    background: #F9F9F9E5;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.2s;
}

.news .item:hover span {
    background: #F9F9F9;
}

.news .col-6 {
    padding: calc(var(--bs-gutter-x)* .5);
}

.news h3 {
    color: #32357C;
    font-size: 64px;
    font-weight: 700;
}

.contacts h3 {
    color: #32357C;
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 45px;
}

.contacts .item {
    gap: 12px;
}

.contacts .item p,
.contacts .item a {
    font-size: 24px;
    font-weight: 400;
    color: #32357C;
    display: block;
    margin: 0;
}

.contacts .item:nth-child(2) {
    margin-bottom: 30px;
}

.contacts .item:nth-child(3) {
    margin-bottom: 34px;
}

.contacts .item:nth-child(4) {
    margin-bottom: 45px;
}

.contacts img {
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}